@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
     overflow-x: hidden;
}



.primarynav {
     width: 100%;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     text-transform: uppercase;
     background-color: #212121;
     padding: 0 100px;
}

.primarynav a {
     text-decoration: none;
     color: #999595;
}

.primarynav hr {
     height: 9px;

}

.primary-left-link {
     width: 40%;
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-size: 12px;
}

.primary-left-link a:hover {
     color: white;
}

.primary-right-link {
     width: 12%;
     list-style: none;
     display: flex;

     align-items: center;
     justify-content: space-between;
     font-size: 12px;
}

.primary-right-link a:hover {
     color: white;
}

.secondnav {
     background-color: #FFFFFF;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 50px;
}

.image {
     width: 72px;
     height: 72px;
     border: none;
     border-radius: 24px;
     background-color: #FF6900;
     background-image: url(mi-logo.svg);
     transition: all 0.2s ease;
     background-position: 115% 50%;
}

.image:hover {
     background-position: 258% 50%;
}

.secondnav {

     padding: 10px 150px 10px 100px;
}

.secondnav ul {
     width: 70vw;
     display: flex;
     align-items: center;
     justify-content: space-between;
     list-style: none;
     font-size: 1.3vw;
     font-weight: 700;
}

.secondnav a {
     text-decoration: none;
     color: #212121;
}

.secondnav a:hover {
     text-decoration: none;
     color: #FF6900;
}

.redmi {
     position: sticky;
     top: 0px;
     z-index: 1;
     width: 100%;
     height: 55px;
     background-color: #F5F5F5;
     display: flex;
     align-items: center;
     justify-content: space-between;

}

.redmi a {
     text-decoration: none;
     color: #999595;
}

.redmi-left-link {
     padding-left: 100px;
     width: 355px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}

.redmi-left-link hr {
     height: 1px;
}

.redmi-left-link p {
     font-size: 20px;
}


.redmi-right-link {
     padding-right: 150px;
     width: 280px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     font-size: 14px;
}

#overview {
     color: black;
}

/* css of section1 */

.section1 {
     transition: all 1s ease-in-out;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     width: 100vw;
     height: 110vh;
     background-image: url(bg1.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: 105%;
     overflow-y: hidden;
}

.textsection {
     transition: all 1s ease-in-out;
     margin-left: 4vw;
     width: 100vw;
}

.textsection h1 {
     font-size: 5vw;
     font-weight: 400;

}

.textsection span {
     font-weight: 600;
}

.textsection h3 {
     margin-top: 12px;
     font-size: 3.5vw;
     font-weight: 400;

}

.textsection p {
     margin-top: 14px;
     font-size: 2vw;
     font-weight: 100;
}

.whatsapp {
     width: 100%;
     position: fixed;
     top: 85%;
     left: 88%;

}

.whatsapp img {
     width: 35px;
     height: 35px;
}

/* css of section 2 grid section */

.section2 {
     background-color: #fff;
     width: 100%;
     height: 80vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.grid {
     width: 73%;
     height: 87%;
     display: grid;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     grid-template-columns: 0.9fr 1.2fr 0.9fr;
     grid-gap: 9px;
     background-color: white;
     /* border: #212121 1px solid; */
}

.item1 {
     grid-row: 1/ 3;
     grid-column: 1/2;
     background-image: url(c1r1grid.png);
     background-position: 50% 50%;
     background-size: cover;
     background-repeat: no-repeat;
     color: white;
}

.item2 {
     grid-row: 3/-1;
     grid-column: 1/2;
     background-image: url(c1r2grid.png);
     background-position: 50% 50%;
     background-size: cover;
     background-repeat: no-repeat;
     color: white;
}

.item3 {
     grid-row: 1/ -1;
     grid-column: 2/3;
     background-image: url(c2grid.png);
     background-position: 50% 55%;
     background-size: cover;
     background-repeat: no-repeat;
     color: white;
}

.item4 {
     grid-row: 1/ 3;
     grid-column: 3/-1;
     background-image: url(c3r1grid.png);
     background-position: 50% 50%;
     background-size: cover;
     background-repeat: no-repeat;
     color: white;
}

.item5 {

     background-color: #212121;
     color: #6b66fe;
}

.item6 {
     background-color: #212121;
     color: white;
}

.grid-1 h1 {
     font-size: 23px;
     padding: 30px 0 0 20px;
}


/* css of section 3 */

.section3 {
     padding-top: 20px;
     padding-bottom: 20px;
     margin: 5px;
     width: 100%;
     height: 50vh;
     background-image: url(section3bg.png);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}

.section3 h1 {
     color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 70px;
     font-weight: 800;
     position: relative;
     top: 58%;
     left: 13%;
}


/* css of section 4 */

.section4 {
     width: 100%;
     height: 100vh;
     /* background-color: black; */
     margin-top: 35px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
}

.textsection4 {
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     flex-wrap: wrap;
}

.textsection4 h1 {
     margin-bottom: 45px;
     text-align: center;
}

.textsection4 p {
     margin-bottom: 45px;
     text-align: center;
}

.textsection4 input {
     margin-bottom: 35px;
     text-align: left;
}

.imagesection4 {
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url(bg4.png);
     background-repeat: no-repeat;
     background-size: 250px;
     background-position: center;
}

/* css of section-5 */
.section5 {
     width: 100%;
     height: 100vh;
     background-image: url(section5bg.png);
     background-position: left;
     background-size: 76%;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
}

.section5 h2 {
     font-size: 25px;
}

.section5 h1,
h2 {
     position: relative;
     top: 55%;
     left: 45%;
     font-size: 45px;
     padding: 25px;
}

/* css of section-6 */

.section6 {
     width: 100%;
     background-image: url(section6bg.png);
}


/* css of section-7 */
.section7 {
     width: 100%;
     height: 160vh;
}

.textsection7 {
     width: 100%;
     height: 31%;
}

.textsection7 :nth-child(1) {


     font-size: 32px;
     position: relative;
     top: 30%;
     left: 15%;
}

.textsection7 :nth-child(2) {

     font-size: 23px;
     position: relative;
     top: 10%;
     left: 45%;


}

.textsection7 :nth-child(3) {

     font-size: 14px;
     font-weight: 300;
     position: relative;
     top: 13%;
     left: 45%;



}

.imagesection7 {
     width: 100%;
     height: 69%;
     background-image: url(bg6.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}


/* css of secton-8 */

.section8 {
     width: 100%;
     height: 110vh;

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.imagesection8 {
     width: 100%;
     height: 50%;
     background-image: url(bg7.png);
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
}

.textsection8 {
     width: 100%;
     height: 50%;
     text-align: left;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     position: relative;
     top: 15%;
     left: 23%;

}


.textsection8 h1 {
     margin-bottom: 20px;
     font-size: 30px;
}


.textsection8 h5 {
     margin-bottom: 5px;
     font-weight: 200;
}



/* css of section-9 */
.section9 {
     width: 100%;
     margin-top: 100px;
     background-image: url(bg8.png);
}



/* css of secton10 */

.section10 {
     width: 100%;
     height: 120vh;

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.imagesection10 {
     width: 100%;
     height: 50%;
     background-image: url(bg9.png);
     background-position: center;
     background-size: 95%;
     background-repeat: no-repeat;
}

.textsection10 {
     width: 100%;
     height: 40%;
     text-align: left;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     padding: 10px;
     position: relative;
     top: 15%;
     left: 17%;

}


.textsection10 h1 {
     margin-bottom: 17px;
     font-size: 28px;
}


.textsection10 h5 {

     font-weight: 200;
}



/* css of secton11 */

.section11 {
     width: 100%;
     height: 150vh;

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.imagesection11 {
     width: 100%;
     height: 85%;
     background-image: url(bg10.jpg);
     background-position: center;
     background-size: 67% 100%;
     background-repeat: no-repeat;
}

.imagesection11 h3 {
     font-size: 24px;
     position: relative;
     left: 55%;
     top: 16%;
}

.imagesection11 img {
     width: 121px;
     position: relative;
     left: 54%;
     top: 20%;
}

.imagesection11 :nth-child(3) {
     margin-left: 38px;
}


.imagesection11 :nth-child(4) {
     position: relative;
     left: 57%;
     top: 21.5%;
     font-size: 19px;
     font-weight: 700;
}



.imagesection11 :nth-child(5) {
     position: relative;
     left: 73%;
     top: 18%;
     font-size: 19px;
     font-weight: 700;
}

.textsection11 {
     width: 100%;
     height: 40%;
     text-align: left;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     padding-bottom: 20px;
     position: relative;
     top: 15%;
     left: 17%;

}


.textsection11 h1 {
     margin-bottom: 19px;
     font-size: 30px;
}


.textsection11 h5 {

     font-weight: 200;

}



/* css of section-12 */
.section12 {
     width: 100%;
     margin-top: 100px;
     background-image: url(bg11.png);
}

/* css of section-13 */

.section13 {
     width: 100%;
     height: 150vh;
     display: flex;
     flex-wrap: wrap;
     background-image: url(bg12.png);
     background-repeat: no-repeat;
     background-size: contain;
     overflow-y: hidden;
}

.textsection13 {
     width: 50%;
     height: 65vh;
     margin-top: 200px;
     margin-left: 25px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     overflow-y: hidden;
     /* background-color: black; */

}

.itema {
     display: flex;

     align-items: center;
     justify-content: center;
     /* background-color: cyan; */
     grid-column: 1/3;
     grid-row: 1/2;
}

.itemb {
     /* background-color: yellow; */
     background-image: url(50mp.png);
     background-repeat: no-repeat;
     background-position: 23% 50%;
     background-size: 27px;
}

.itemc {
     /* background-color: blue; */
     background-image: url(8mp.png);
     background-repeat: no-repeat;
     background-position: 20% 50%;
     background-size: 27px;
}

.itemd {
     /* background-color: violet; */
     background-image: url(2mp.png);
     background-repeat: no-repeat;
     background-position: 23% 50%;
     background-size: 27px;
}

.iteme {
     /* background-color: green; */
     background-image: url(2mpd.png);
     background-repeat: no-repeat;
     background-position: 20% 50%;
     background-size: 27px;
}

.item13 h1 {
     font-size: 22px;
}

.item13 {
     padding-left: 2px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

}

.imagesection13 {
     width: 50%;

}

/* css of section-14 */

.section14 {
     width: 100%;
     height: 125vh;
     display: flex;
     flex-wrap: wrap;
     padding: 50px 5px;
}

.imagesection14 {
     width: 45%;
     height: 100%;
     background-image: url(bg13.png);
     background-position: 100% 50%;
     background-repeat: no-repeat;
     background-size: 75% 98%;
}

.textsection14 {
     width: 55%;
     height: 100%;
     padding-left: 65px;
     display: flex;
     /* align-items: center; */
     justify-content: center;
     flex-direction: column;

}

.textsection14 p {
     font-weight: 200;
     margin-top: 35px;
     font-size: smaller;
}


/* css of section-15 */
.section15 {
     width: 100%;
     margin-top: 100px;
     background-image: url(bg14.png);
}


/* css of section-16 */
.section16 {
     width: 100%;
     height: 120vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-image: url(bg15.jpg);
     background-size: 100%;
     background-repeat: no-repeat;
}

.section16 h1 {

     font-size: 50px;

}

/* css of section-17 */

.section17 {

     width: 100%;
     height: 100vh;
     display: flex;

     background-image: url(bg16.jpg);
     background-position: 60% 50%;
     background-size: 100%;
     background-repeat: no-repeat;

}

.imagesection17 {
     width: 50%;
     height: 100%;
}

.textsection17 {
     width: 50%;
     height: 100%;
     background-color: white;
     display: flex;
     justify-content: center;
     flex-direction: column;
     flex-wrap: wrap;
     padding-left: 50px;
     background: transparent;

}

.textsection17 h1 {
     margin-bottom: 10px;
}

.p1 {
     font-size: 15px;
     font-weight: 800;
     margin-bottom: 9px;
     display: inline;
}

.p2 {
     font-size: 12px;
     font-weight: 300;
     margin-bottom: 14px;
     margin-left: 20px;
}

.textsection17 img {
     width: 20px;
     position: relative;
     right: 10px;
     display: inline;
}

/* css of section-18 */

.section18 {

     width: 100%;
     height: 45vh;

     background-image: url(bg17.png);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.section18 a {
     color: white;
     font-size: 30px;
     font-weight: 700;
     text-decoration: none;
     padding-left: 300px;

}

/* css of section-19 */

.section19 {
     width: 100%;
     padding: 100px 20px;
     font-size: 12px;
     font-weight: 400;
     line-height: 130%;
}


/* css of footer form */

.footerform {
     width: 100%;
     height: 30vh;
     padding: 10px;
     background-color: #F5F5F5;
     display: flex;
}

.formleft {

     width: 50%;
     height: 95%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;

}

.formleft p {
     font-size: 12px;
     margin: 10px 0px;
}

.formleft input {
     width: 300px;
     padding: 8px;
     background-color: #fff;
     border-radius: 2px;
     border: solid #999595 0.1px;
}

.formright {

     width: 50%;
     height: 95%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;

}

.formright p {
     font-size: 12px;
     margin: 7px 0px;
}

.formright img {
     width: 20px;
     margin: 0px 15px;
}

/* css of footer */

footer {
     width: 100%;
     height: 90vh;
     background-color: #212121;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     color: #B0B0B0;
     padding-left: 35px;
     padding-top: 40px;
     overflow: hidden;

}

footer p {

     margin-top: 15px;
     font-size: 13px;

}

.shopandearn {
     display: flex;
     flex-wrap: wrap;
     width: 12%;
     height: 90%;
     display: flex;
     flex-direction: column;
}


.support {

     display: flex;
     flex-wrap: wrap;
     width: 12%;
     height: 90%;
     display: flex;
     flex-direction: column;
}

.contactus {

     display: flex;
     flex-wrap: wrap;
     width: 12%;
     height: 90%;
     display: flex;
     flex-direction: column;
}

.aboutus {

     display: flex;
     flex-wrap: wrap;
     width: 12%;
     height: 90%;
     display: flex;
     flex-direction: column;
}

.footer {

     display: flex;
     flex-wrap: wrap;
     background-color: #212121;
     width: 100%;
     height: 13vh;
     border-top: #B0B0B0 solid 1px;
     color: #999595;
     display: flex;
     align-items: center;
     padding-left: 5%;
     font-size: 14px;
}